{% extends "Nebula/layout.html" %} 
{% block body %}
{% load static %}
    <div id="iconDiv"><a class="icon" href="https://www.instagram.com/horatiubanciu/" target="_blank"><img src="{% static 'img/instagram.png' %}"></a><a class="icon" href="https://telegram.me/HoratiuG" target="_blank"><img src="{% static 'img/telly.png' %}"></a><a class="icon" href="https://www.linkedin.com/in/hora%C5%A3iu-banciu-3466391ab/" target="_blank"><img src="{% static 'img/linkedin.png' %}" ></a><a class="icon" href="https://github.com/H0R4T1U" target="_blank"><img src="{% static 'img/github.png' %}"></a></div>
    <section id="TextStuff" class="mb-5">
        <h1><span class="txt-rotate" data-period="500" data-rotate="[ &quot;Student&quot;, &quot;Web Developer&quot; , &quot;Software Developer&quot;]">Horaţiu Banciu, Software Developer, Web Developer</span></h1>
    </section>
    <section id="CarouselStuff" class="mt-5" style="/*width: 50%;*/margin: auto;text-align: center;">
        <h1>Curiculum&nbsp;Vitae</h1>
        <div class="carousel slide mt-5" data-bs-ride="carousel" id="carousel-1">
            <div class="carousel-inner" style="margin-left: 1em;">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <p>Horaţiu&nbsp;Banciu</p>
                                <p>horatiubanciu@protonmail.com</p>
                                <p>Romanian</p>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <p>High&nbsp;School&nbsp;Student</p>
                                <p>17&nbsp;years&nbsp;old</p>
                                <p>Tutor</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <p>Problem&nbsp;Solving</p>
                                <p>Critical&nbsp;thinking</p>
                                <p>Creativity</p>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <p>Perseverance</p>
                                <p>Curiosity</p>
                                <p>Resourcefulness</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <p>Full&nbsp;stack&nbsp;Developer</p>
                                <p>Software&nbsp;Developer</p>
                                <p>Networking</p>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <p>Python</p>
                                <p>JavaScript</p>
                                <p>C++</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" style="left: 0;margin: 0;top: 0;"></span><span class="visually-hidden" style="left: 0;margin: 0;top: 0;">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators" style="display: none;">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <section id="GithubStuff">
        <h2>Projects:</h2>
        <div class="table-responsive mt-3" >
            <table class="table table-bordered" style="color: rgb(230, 228, 228);">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Language</th>
                        <th>Description</th>
                        <th>Stars</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href={{project.url}} target='_blank'>{{project.name}}</a></td>
                        <td>{{project.language}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.stars}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
{% endblock %}
