{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Self-learning Fullstack and Software Developer through Research and Practice">
    <title>Horaţiu Banciu</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;display=swap">
    <link rel="stylesheet" href="{% static '/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}" defer></script>
    <script src="{% static '/js/particles.min.js' %}" defer></script>
    <script src="{% static '/js/typeWriter.js' %}" defer></script>
    <script src="{% static '/js/index.js' %}" defer></script>
</head>
<body>
    <div id="particles-js"></div>
    {% block body %}
    {% endblock %}
</body>
</html>